/* Add screen styles below */
html, body {
    min-height: 100vh;
    background-color: #212529;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

/*Top bar stuff*/

.site-header {
    background-color: #343A40;
    padding: 2rem;
}

.site-header h1 {
    font-size: 2rem;
}

/*Container stuff */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

/* Intro text stuff*/

.intro {
    text-align: center;
    margin-bottom: 4rem;
}

.intro p {
    font-size: 1.6rem;
    line-height: 1.4;
}

/* layout for desktop only :) */

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

/* image area*/

.project-image {
    display: flex;
    justify-content: center;
}


/* text area */
.project-info {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project-info p {
    font-size: 1rem;
    line-height: 1.6;
}